name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Test
      run: ./build.sh test

  e2e-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Build & Install
      run: ./build.sh build
    - name: Run DevHost
      run: |
        dotnet run --project src/tapir.DevHost/tapir.DevHost.csproj --urls "http://localhost:5000" &
        sleep 10
    - name: Run test case TC-Users-001
      run: dotnet run --project src/tapir.Cli/tapir.Cli.csproj -- run "http://localhost:5000" -tc TC-Users-001 -i "samples/Users/Definitions" -o "samples/Users/Runs" --verbose
    - name: Run test case TC-Users-002
      run: dotnet run --project src/tapir.Cli/tapir.Cli.csproj -- run "http://localhost:5000" -tc TC-Users-002 -i "samples/Users/Definitions" -o "samples/Users/Runs" --verbose
    - name: Run test case TC-Documents-001
      run: dotnet run --project src/tapir.Cli/tapir.Cli.csproj -- run "http://localhost:5000" -tc TC-Documents-001 -i "samples/Documents/Definitions" -o "samples/Documents/Runs" --verbose
    - name: Run all test cases
      run: dotnet run --project src/tapir.Cli/tapir.Cli.csproj -- run "http://localhost:5000" -i "samples/"
